/*======================= layout ===========*/
html,body, .capa {
	height: 100%;
	
}



body {
	background: url('imagens/background.png');
	background-attachment: fixed;
	overflow-x: hidden;
	font-family: 'Viga', sans-serif;
}

/*-- Barra de navegação --*/
.img-logo {
	height: 100px;
	width: 250px;
	display: block;
	background:url('imagens/logo.png') no-repeat;
	background-size: 100px 100px;
	color: transparent;
	margin-top:-35px;

}

.navbar-center {
	margin-left: 120px;
}

nav.navbar-trasnparente {
	padding: 20px 0px;
	background: rgba(0,0,0,0.6);
	border:none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFFFFF;
	text-transform: uppercase;
	margin-left: -20px;
}

.navbar-inverse .navbar-nav>li>a:hover {
 	color: #9bf0e1;
}


.btn-menu {
	border: 5px solid white;
	border-radius: 15px;
	margin-left: 170px;
	transition: background 0.4s, color 0.4s;
}

.btn-menu:hover {
	background: white;
	border: 5px solid white;
	border-radius: 15px;
	margin-left: 170px;
}

a.btn-menu {
	color: white;
}

.btn-dois {
	border: 5px solid #b4e7fc;
	border-radius: 10px;
	color: white;
	padding: 5px 50px 5px 50px;
	transition: background 0.4s, color 0.4s, border 0.4s;
}

.btn-dois:hover {
	border: 5px solid white;
	background: white;
	border-radius: 5px;
	color: #000;
	padding: 5px 50px 5px 50px;
}


/*-- imagem de capa --*/
.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;

}


/* --- ancora -- */

.ancora {
	padding-top: 95px;
	background: none;
}

/*-- Cartão --*/

.cartao1 {
	background: rgba(255,255,255,0.5);
	padding-top: 20px;
	padding-bottom: 20px; 
}

.foto-cartao {
	margin-top: -30px;
	transition: transform 0.4s, background 0.4s;
	margin-top: -30px;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	
}

.foto-cartao:hover {
	margin-top: -30px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}


.play {
	border: 2px #292135 solid;
	display: inline;
	padding: 20px 3px 10px 3px;
	margin: 10px;
	color: #292135;
	border-radius: 25px;
}

.play:hover {
	box-shadow: 0px 0px 1em #666;

}


.apple {
	border: 2px #292135 solid;
	display: inline;
	padding: 20px 3px 10px 3px;
	color: #292135;
	border-radius: 25px;
}

.apple:hover {
	box-shadow: 0px 0px 1em #666;
}


.baixar {
	text-align: center;	
}

.btn-cartao {
	color: #292135;
	font-size: 13px;
}


/*-- mimos --- */


.mimos1 {
	background: #fff;
	padding: 10px;
	height: 580px
}

.mimoscont {
	margin-top: 100px;
}


.blocopai {
	margin-top: 20px;
	margin-left: 100px;
}


.bloco {
	border: 3px solid #000;
	border-radius: 20px;
	display: inline-block;
	width: 90px;
	height: 40px;
	margin: 1rem;
	position: relative;
	padding: 5px;
	transition: all 0.5s;
	float: center;
  }

.bloco:hover {
	border-radius: 10px;
}

.bloco a {
	color: black;
	margin-left: 10px;
	margin-bottom: 10px;
  }

.bloco a:hover{
	  text-decoration: none;
  }
  


/* ===== Proposta ---- */

.proposta1 {
	background: rgba(0,0,0,0.7);
	text-align: center;
}

.cartao-proposta{
	border: 5px solid #5ec9e8; 
	border-radius: 25px;
}


.preto {
	background: #5ec9e8;
	border-radius:25px;
	padding: 5px;
	color: white;
	font-size: 20px;
}

/* -- box proposta-- */

.caixa {
	margin-top: 20px;
}
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 400px;
	margin: 1rem;
	position: relative;
	width: 400px;
	padding: 10px;
  }
  
  .card-1 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .card-2 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  

.po {
	padding: 10px;
}

.btn-propo {
	margin-top: 50px;
}

.btn-proposta {
	background: #292135;
	padding: 10px 130px;
	color: #fff;
	font-size: 15px;
	transition: background 0.5s; 
}

.btn-proposta:hover {
	background: #120e1a;
	color: #fff;
}


/* ===== faq ---- */


.faq1 {
	background:white;
	height: 580px;
}

.faq-style {
	padding: 30px;
}

.panel-estilo  {
	background: white;
	border-bottom: 0.4px solid #eeeeee;
}

p.ing {
	border:2px solid #5ec9e8;
	border-radius: 5px;
	font-size: 15px;
	padding: 15px;
}

.titulo-faq {
	margin-top: 70px;
	margin-left: 180px;
}

.faq-button {
	margin-top: 30px;
	margin-left: 50px;
}


.play1 {
	border: 2px #5ec9e8 solid;
	display: inline;
	padding: 20px 5px 10px 5px;
	margin: 10px;
	border-radius: 25px;
}



.apple1 {
	border: 2px #5ec9e8 solid;
	display: inline;
	padding: 20px 5px 10px 5px;
	border-radius: 25px;
}


.baixar1 {
	text-align: center;
}

.btn-cartao1 {
	color: #333333;
	font-size: 13px;
}


/* modal */

.modal-content {
	
	border: 5px solid #5ec9e8;
	border-radius: 20px;
}

.btn-um {

	background: #3a596d;
	border: 5px solid #3a596d;
	color: #b4e7fc;
	border-radius: 10px;
	padding: 5px 50px 5px 50px;
	transition: background 0.4s, color 0.4s, border 0.4s;
}

.btn-um:hover {
	background: #b4e7fc;
	border: 5px solid #b4e7fc;
	border-radius: 5px;
	color: black;

}

.form-control {
	border: 2px solid #b4e7fc;
	border-radius: 5px;
}



/*====== Rodapé ===== */

.rodape1 {

	background:#000000;
	height: 60px;
	position: relative;

}

/*=============== Tipografia =======*/

h1 {
	font-size: 70px;
	font-weight: 900px;
	letter-spacing: -2px;

}

#cartao h2 {
	color: #57707b;
	text-align: center;
	font-size:50px;
}

#cartao h3 {
	color:#57707b;

}

#mimos h2 {
	color: #57707b;
	text-align: center;
	font-size:50px;
}


#proposta h2 {
	color: #5ec9e8;
}

#proposta h3 {
	color: white;
	font-size: 45px;
}

#proposta h4 {
	color:  white;
	font-size: 35px;
}

#proposta h5 {
	background: #5ec9e8;
	padding: 5px 10px 5px 10px;
	color: white;
	font-size: 20px;
	
}

#proposta h6 {
	font-size: 20px;
}

.titulo-faq h2 {
	font-size: 40px;
}

.rodape1 h2 {
	color: white;
	font-size: 14px;
	text-align: center;
	
}

/*=============== Barra de rolagem =======*/

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 10px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #5ec9e8;
}