@media only screen and (max-width: 400px) {
    .baixar1 {
        display: none;
     }
    
     .img-logo {
        display: none;
    
     }

     .btn-menu {
        display: none;
    }
    

    
    }


@media only screen and (max-width: 1000px) {
    .mimos1 {
        height: auto;   
    }

    .faq1 {
        
        height: auto;
    }


    .foto-cartao {
       display: none;
        
       }

       .img-logo {
        width: 100px;
        height: 100px;
    
     }

    

}


@media only screen and (max-width: 680px) {
 

    .btn-menu {
	
        margin-left: 70px;
        font-size: 15px;
    }
    
    .btn-menu:hover {
        
        margin-left: 70px;
        font-size: 15px;
    }

.btn-um {
    margin: 0px 0px 20px 0px;
    padding: 5px 50px 5px 50px;
    }

h1 { 
    font-size: 50px;
}

}

@media screen and (max-width:360px) {
    .btn-menu {
        display: none;
    }
.card {
width: 100%;

}

.btn-proposta {
    width: 100%;
    margin-top: -50px;
}

}